.footer-container{
    display: flex;
    color: lightgoldenrodyellow;
    background-color:black;
    margin-top: 20px;
    padding: 22px;
    border-bottom: 1px solid green;
   
}
.width {
    width: 30%;
    margin: 20px;
    padding: 25px;
}

.width a{
    text-decoration: none;
}